.header {
  display: flex;
  background-color: var(--secondary-light);
  color: var(--white);
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerText h4 {
  color: var(--white);
  font: 0.8rem Quicksand;
  font-weight: bold;
}

.headerIcon {
  font-size: 2rem;
}
