.container{
    background-color: #f4f0f0;
    color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
}

.textLocationContainer, .reviewContainer{
    display: flex;
    width: 50%;
}
.textLocationContainer{
    grid-gap: 0.4rem;
}
.reviewContainer{
    justify-content: flex-end;
    align-items: center;
    grid-gap: 1rem;
}
.scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreContainer ul{
    list-style-type: none;
}
.reviewContainer span{
    height: 40px;
    width: 40px;
    color: var(--white);
    background: var(--secondary-light);
    border-radius: 0.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    font-size: 1.3rem;
}
.starContainer{
    display: flex;
}
.starIcon {
  color: var(--white);
}
