button {
  border-radius: 5px;
  padding: 8px 0;
  width: 150px;
  border: 1px solid #1dbeb4;
  font-weight: bold;
}

.btnUnstyled {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  width: 100%;
  border: none;
  font-weight: 500;
  
}
