.form {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem 10%;
  width: 100%;
  justify-content: center;
}

.form form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
  position: relative; /* Para acomodar el ojo del password */
}

.formGroup label p {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 0.75rem;
}

.formSubGroup {
  margin-top: 0.5rem;
}

.formControl {
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: var(--gray);
  border-radius: 5px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 0.75rem;
  border: 1px solid transparent;
}

.form h1 {
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin-bottom: 1em;
  justify-content: center;
  font-size: 1.5rem;
}

/* .formGroup input[type="text"],
input[type="password"],
input[type="email"] {
  box-sizing: border-box;
  border: var(--gray);
  border-radius: 5px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 1rem;
} */

.formGroup input[type="text"]:focus,
.formGroup input[type="password"]:focus,
.formGroup input[type="email"]:focus {
  outline: none;
  border: 1px solid rgb(179, 179, 179);
}

.formGroup input[type="password"] {
  font-family: Verdana;
}

.errorMsg,
.errorCredentialsMsg {
  color: var(--red);
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 14px;
  text-align: right;
}

.errorCredentialsMsg {
  text-align: center;
  padding: 2em 0;
  line-height: 1.3em;
}

.inputError {
  border: 1px solid #ff0000;
  background-color: #ffe1e1;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonForm {
  margin-top: 3em;
  cursor: pointer;
}

.signInLink {
  display: flex;
  gap: 0.5em;
  margin-top: 0.6rem;
  font-size: 0.75rem;
}

.signInLink a {
  color: blue;
  text-decoration: none;
}

/* p {
  margin-bottom: 0 !important;} /* Para deshacer bootstrap */

.iconoOjoNormal,
.iconoOjoTachado {
  color: var(--secondary-light);
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  align-self: flex-end;
  right: 4%;
  top: 2.08rem;
  /* padding: 0.2rem; */
}

.achicarTamanioPuntitos {
  font-size: 0.72rem;   /* Necesario para que el input no se agrande/achique por 1px al togglear el ojo */
}

/* Tablet */

@media (min-width: 768px) {
  .form form {
    width: 70%;
  }
}

/* Desktop */

@media (min-width: 1200px) {
  .form form {
    width: 40%;
  }

  .formGroup{
    justify-content: space-between;
  }
  .inputDesktopGroup {
    flex-direction: row;
    grid-gap: 1rem;
  }

  .formSubGroup {
    width: 50%;
  }
}
