@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: Quicksand; */
:root {
  --background: rgb(221, 220, 220);
  --primary-color: #1dbeb4;
  --secondary-color: #383b58;
  --secondary-light: #545776;
  --bone-color: #f3f1ed;
  --white: #fff;
  --black: #000;
  --gray: #7f7f7f;
  --light-gray: #F9F9F9;
  --light-red: #ffe1e1;
  --red: #ff0000;
}

* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: var(--white);
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}