.title {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    /* margin-top: 15vh; */
}

.msg {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top: 6vh;
}