.buscador {
  padding: 12px 20px;
  background: var(--secondary-light);
}

.buscador_container {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  color: var(--gray);
  font-weight: 500;
}
.buscador_container input[type="text"] {
  box-sizing: border-box;
  border: var(--gray);
  border-radius: 5px;
  padding: 12px 20px;
  width: 100%;
  font-size: 1rem;
  line-height: 20px;
}
.buscador_container input[type="text"]:focus {
  outline: none;
  border: 1px solid rgb(179, 179, 179);
}
/*========= Select de Paises y ciudades =========*/
.select_container {
  color: var(--gray);
  font-weight: 500;
  width: 100%;
  margin: 5px 0;
  line-height: 30px;
}
.select_color {
  color: #7f7f7f;
}
.selected_city {
  font-size: 1rem;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0;
  line-height: 42px;
}
.selected_icono_mapa_relleno {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.select_option_list {
  display: flex;
  height: 70px;
}
.select_option_list_caja {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  color: #1dbeb4;
  width: 700px;
  cursor: pointer;
}
.select_option_list_caja_pais {
  color: black;
  margin-left: 18px;
}
.select_option_list_caja_ciudad {
  color: #383b58;
  margin-left: 18px;
  margin-top: 0px;
}
.select_icono_mapa_vacio {
  padding-top: 15px;
  left: 6;
}

.text_center {
  color: var(--white);
  text-align: center;
}

.form-control::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* =================== Button ==================== */
.button {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: var(--white);
  padding: 10px 20px;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
}

.span_error_message {
  color: white;
}

/* ========= Check-in Check-out y Calendar ========= */
.icono_calendar {
  color: var(--gray);
  font-size: 1.3rem;
  margin-right: 10px;
}

.calendar_container {
  color: var(--gray);
  font-weight: 500;
  margin: 5px 0;
  width: 100%;
}
.textos_calendar {
  color: var(--gray);
}
.calendar_checkin_out {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}

.calendar_button {
  background-color: #1dbeb4;
  color: white;
  margin-bottom: 25px;
  margin-right: 40px;
  margin-left: 16%;
  cursor: pointer;
  width: 68%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.oculta {
  display: none;
}

.span_check {
  font-size: 1rem;
  border: "5px solid";
  background-color: "white";
  border-radius: "5px";
  width: 100%;
  margin: 5px;
  line-height: 28px;
}

.calendar {
  border: 0;
  border: 5px solid;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

/* **************** Tablets ****************** */
@media (min-width: 768px) {
  .buscador_container {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 90%;
    gap: 0.8rem;
    position: relative;
  }
  .select_container {
    width: 38%;
    min-width: 300px;
    white-space: nowrap;
  }
  .calendar_container {
    width: 38%;
  }
  .calendar_checkin_out {
    width: 100%;
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .calendar_footer {
    width: 90%;
    margin: auto;
  }
  .calendar_button {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }
  .button {
    width: 15%;
  }
}

/* **************** Desktop  ****************** */

@media (min-width: 1200px) {
  .buscador_container {
  }
  .selected_city {
    width: 450px;
    white-space: nowrap;
  }
  .select_container {
    width: 40%;
    min-width: 400px;
    white-space: nowrap;
  }
  .calendar_container {
    width: 40%;
    min-width: 300px;
  }
  .calendar_footer {
    width: 30%;
    margin-right: 5%;
  }
  .calendar_button {
  }
  .button {
    width: 20%;
  }
}
