.productsCardContainer {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.productsCardContainer>h2 {
  margin: 0 0 9px 2.9%;
  font-weight: bold;
  color: var(--secondary-color);
}

.cardContainer {
  margin: 0 2.95% 0 2.95%;
  display: flex;
  grid-gap: 2em;
  flex-direction: column;
  border-radius: 10%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 100%;
  flex-direction: column;
  background-color: var(--white);
}

.cardImage {
  width: 100%;
  height: 230px;
}

.cardImage a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cardText {
    display: flex;
    padding: 1em;
    width: 100%;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
}

.cardText p{
    font-size: 0.75rem;
}

.cardText h4{
    color: var(--gray);
    font: 0.8rem Quicksand;
    font-weight: bold;
}

.cardProductButtonContainer{
    margin-top: 1rem;
}


/* Tablets */

@media (min-width: 768px) {

  .card {
    flex-direction: row;
    height: 280px;
  }

  .cardImage {
    height: auto;
  }

  .cardImage a img {
    border-radius: 10px 0 0 10px;
  }
}


/* Desktop */

@media (min-width: 1200px) {

  .productsCardContainer {
    padding-top: 2rem;
  }

  .cardContainer {
      flex-direction: row;
      grid-gap: 1em;
      justify-content: space-around;
  }

  .card {
    width: 48%;
  }

  .cardImage {
    width: 50%;
  }

  .cardText {
    padding: 1em;
    width: 50%;
  }
}
