.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker__input-container input {
  color: var(--gray);
}
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 5px;
}
.react-datepicker-popper {
  width: 100%;
  transform: translate3d(0, 270px, 0) !important;
  padding: 1.5rem;
}
.react-datepicker {
  width: 100%;
  max-width: 400px;
  display: block;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.react-datepicker__navigation {
  margin-top: 20px;
  font-size: 5px;
}
.react-datepicker__navigation--next {
  right: 13%;
}
.react-datepicker__navigation--previous {
  left: 13%;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  height: 5px;
  width: 5px;
  border-color: var(--secondary-light);
  border-width: 2px 2px 0 0;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  line-height: 2rem;
  width: 2rem;
}

.react-datepicker__month-container {
  background-color: white;
  font-size: 0.75rem;
  color: #969eac;
  font-family: "Mulish";
  margin: auto;
  float: none;
}
.react-datepicker__triangle::before,
.react-datepicker__triangle::after {
  display: none;
}
.react-datepicker__header {
  margin-top: 15px;
  background-color: white;
  border-bottom: none;
  padding-bottom: 0;
}
.react-datepicker__current-month {
  margin-top: 7px;
  color: black;
  font-size: 0.8rem;
}

.react-datepicker__day-name {
  margin-top: 5px;
  color: black;
}

.react-datepicker__day-names {
  border-bottom: none;
}
.react-datepicker__month {
  padding: 0rem 0 1rem 0;
}

.react-datepicker__day {
  color: gray;
  font-size: 0.6rem;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
}
.react-datepicker__day.react-datepicker__day--in-selecting-range {
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
}
.react-datepicker__day.react-datepicker__day--in-range {
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
}
.react-datepicker__day.react-datepicker__day--range-end.react-datepicker__day--in-range {
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
}
.react-datepicker__day.react-datepicker__day--selecting-range-start {
  background-color: var(--primary-color);
}
.react-datepicker__tab-loop__end {
  background-color: var(--primary-color);
}
.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

/* ************ estilos tablet ************** */

@media (min-width: 768px) {
  .react-datepicker {
    width: 85%;
    max-width: 575px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: auto;
  }
  .react-datepicker-popper {
    width: 100%;
    padding: 12px;
    position: absolute;
    margin: auto;
    transform: translate3d(0, 55px, 0) !important;
    inset: 0px auto auto -8% !important;
  }
  div.react-datepicker-popper > div {
    margin: auto;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 1.7rem;
    line-height: 1.7rem;
  }
  .react-datepicker__navigation--next {
    right: 8%;
  }
  .react-datepicker__navigation--previous {
    left: 5%;
  }
  .vertical-line {
    position: absolute;
    border-left: 1px solid #a8a8a8;
    height: 65%;
    left: 50%;
    top: 10%;
    margin-left: -0.5px;
    display: inherit;
  }
}

/* ************** desktop *************** */

@media (min-width: 1200px) {
  .react-datepicker {
    justify-content: flex-end;
  }
  div.react-datepicker-popper > div {
    margin-left: 10%;
    width: 100%;
  }
  /* .react-datepicker-popper {
    transform: translate3d(8%, 200px, 0) !important;
  } */
}
