footer {
  position: sticky;
  bottom: 0;
  background: #1dbeb4;
  width: 100%;
  height: 3.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}

.redes {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.creditos {
  font-weight: bold;
  line-height: 1rem;
  font-size: 0.9rem;
}

/* Tablet */

@media (min-width: 481px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .redes {
    display: flex;
    gap: 1.2rem;
  }

  .icono-redes {
    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.5; /* La unidad es el tamaño de la funte */
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

/* Desktop */

@media (min-width: 769px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
