header {
  background: var(--white);
  position: sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1dbeb4;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* logo */

.logo {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

.imgLogo {
  width: 50px;
  margin-right: 8px;
  padding: 25px 0;
}

.slogan {
  display: none;
  font-size: 1rem;
}

/* formato desktop */
@media (min-width: 1200px) {

  .logo {
    align-items: center;
    color: var(--secondary-light);
  }

  .imgLogo {
    width: 70px;
  }

  h2.slogan {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2rem;
  }
  
  .slogan {
    display: block;
  }
}
