/* **************** formato mobile **************** */

/* boton hamburguesa */

.btnMenu {
  width: auto;
  padding: 10px 15px;
  margin-right: 5px;
  font-size: 1.3rem;
  background: none;
  border-style: none;
}

.atenuar-fondo-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility 300ms, opacity 300ms ease-in-out;
  z-index: 150;
}

.atenuar-fondo-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 300ms ease-in-out;
}

/* menu */

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 0vw;
  overflow: hidden;
  height: 100vh;
  background: var(--white);
  transition: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 200;
}

.menu.show {
  display: inherit;
  width: 73vw;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}

/* header menu */

.menuHeader {
  height: 24vh;
  background: var(--primary-color);
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnClose i {
  font-size: 1.5rem;
}
.btnCloseSession {
  display: none;
  font-size: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
}
.textMenu {
  text-align: end;
  font-size: 1.1rem;
}

/* header menu usuario logueado */

.headerLoggedIn {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.avatar {
  height: 40px;
  width: 40px;
  color: var(--secondary-light);
  background: var(--white);
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
}

.hello {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.6rem;
  text-align: right;
}

.userName {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}

/* body menu */

.menuBody {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 76vh;
  align-items: flex-end;
  justify-content: space-between;
}

.link {
  list-style-type: none;
  width: 100%;
  text-align: right;
}

.btnLinkMenu {
  display: block;
  padding: 15px 5% 13px 0;
  width: 100%;
  color: var(--secondary-color);
  white-space: nowrap; /* Para que no se mueva el texto mientras se abre/cierra el menú */
}

.borde {
  border: 1px solid var(--secondary-light);
  width: 92%;
  margin: auto;
}

/* logout */

.menu4 {
  justify-content: end;
  color: var(--secondary-color);
  font-size: 0.75rem;
  font-weight: 500;
  height: 86%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu4 span {
  color: var(--primary-color);
}

.logout {
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 3px;
}

.bordeLogout {
  border: 1px solid var(--secondary-light);
  width: 90%;
  margin: auto;
}

/* redes */

.iconoRedes {
  display: flex;
  margin-right: 0.45rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.iconoRedes i {
  color: var(--secondary-color);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* ************** formato tablet **************** */
@media (min-width: 768px) {
  /*ocultar todo lo que no se usa*/
  .btnMenu,
  .borde,
  .bordeLogout,
  .iconoRedes,
  .btnClose.hidden {
    display: none;
  }

  .btnCloseSession.show {
    display: inherit;
  }

  /* formato dentro del header */
  .menu {
    width: 50vw;
    position: relative;
    height: 100%;
  }

  /* nav para usuario no logueado */

  .menuHeader.hidden {
    display: none;
  }

  .menuBody {
    height: auto;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    height: 40px;
    margin-right: 30px;
  }

  .menuLink {
    width: 165px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
  }

  .btnLinkMenu {
    color: var(--primary-color);
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* nav ususario logueado */
  .menuBody.hidden {
    display: none;
  }

  .btnClose {
    color: var(--secondary-color);
  }

  .menuHeader {
    height: auto;
    align-items: flex-end;
    background: none;
  }

  .avatar {
    background: var(--secondary-color);
    color: var(--white);
    margin-right: 15px;
  }

  .headerLoggedIn {
    flex-direction: row;
    justify-content: flex-end;
  }

  .hello {
    text-align: left;
    color: var(--secondary-light);
  }

  .userName {
    color: var(--primary-color);
  }
}

/* **************** formato desktop **************** */
@media (min-width: 1200px) {
  .menu {
    width: 50vw;
  }
}
